<% include partials/header %>
        <div class="container">
            <div class="row">
                <div class="col">
                    <% include partials/nav %>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form action="/quotes" class='user-form' method="POST">
                        <div class="form-group">
                            <label for='author'>Author:</label>
                            <input class='form-control' type='text' name='author' id='author'>
                        </div>
                        <div class="form-group">
                            <label for='quote'>Quote</label>
                            <input class='form-control' type='text' name='quote' id='quote'>
                        </div>
                        <div class="form-group">
                            <button class='btn btn-primary btn-sm' type='submit'>Add My Quote</button>
                        </div>
                    </form>
                    <p><a href='/quotes' class='btn btn-primary btn-sm'>Skip to quotes</a></p>
                    <div class="errors">
                        <% if(messages.create_error) { %>
                            <% for (const key of messages.create_error) { %>
                                <p><%= key %></p>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
<% include partials/footer %>